[Unit]
Description=Alert Manager
After=network.target

[Service]
Restart=on-failure
ExecStart=/opt/alertmanager/alertmanager  --config.file=/opt/alertmanager/alertmanager.yml 

[Install]
WantedBy=multi-user.target